* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{    
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

nav{
    height: 80px;
    width: 100%;
    background-color: #61764B;
}

nav .logo{
    font-size: 30px;
    line-height: 80px;    
    color: white;
    margin-left: 30px;

}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav ul li a{
    font-size: 20px;
    color: black;
    padding: 10px 17px;    
}

nav ul li a.active{
    color: #FAD6A5;
}

nav ul li a:hover{
    background-color: #9BA17B;
    transition: 0.5s;    
}

.banner{   
    height: 550px;
    text-align: center;
    background-color: #9BA17B;
    font-weight: bold;
    font-size: 20px;
}

.banner img{   
    margin-top: 100px;
    margin-left: 550px;
    height: 200px;
    width: 200px;
    border-radius: 5px;  
    border: 7px solid rgb(243, 248, 175);  
}

.banner h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #9BA17B;
    font-size: 35px; 
}

.banner h1 mark{
    background-color: #61764B;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.banner p{
    color: #FAD6A5;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    padding: 0 20%;
    background-color: #839272;
}

.card{
    background-color: #9BA17B;
    width: 300px;
    min-height: 300px;
    padding: 35px;
    margin: 80px 0;
    text-align: center;
    line-height: 30px;
    color: white;
}

.card h2{
    margin-bottom: 10px;
}

.card:hover{
    background-color: rgb(41, 82, 14);
}

.images{
    background-color: #9BA17B; 
    height: 550px;  
    justify-content: space-between;
    padding-top: 50px;
}

.images img{
    height: 250px;
    width: 200;
    padding-left: 250px;
    align-items: center;
}

.images h5{
   padding-top: 100px;
   padding-left: 250px;
    color: white;
    font-size: 20px;
}

.images h5 a{
    color: #FAD6A5;
}


.table{    
    background-color: #9BA17B;    
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 10px;
}

.table tr td a{
    color: white;
}

.table tr th{
    background: #61764B;
    color: white;
}

.table, th, td{
    padding: 8px 20px;
    text-align: center;

}

.table tr td{
    background: #839272;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav ul li{
        display: inline-block;
        line-height:80px;
        margin: 0 10px ;
    }    
    nav ul li a{
        font-size: 15px;
        margin-right: 30px ;
    }
    .banner img{        
        margin:auto;
        height:100px;
        width: 100px;
        border: 2px solid rgb(243, 248, 175);
    }
    .banner h1{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right:30px;
        font-size: 18px;
    }
    .banner, h1, p{
        font-size: 12px;
    }
    .card{
        background-color: #9BA17B;
        width:150px;
        min-height:150px;
        padding: 15px;                  
    }
    .card p{
        font-size: 12px;
    }
    .images img{
        height: 150px;
        padding-left: 10px;
    }
    .images h5{
        padding-left: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .banner img{
        height: 150px;
        width: 150px; 
    }
    .images img{
        height: 150px;
        padding-left: 80px;
    }
    .images h5{
        padding-left: 80px;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner img{
        height: 200px;
        width: 200px;
    }
    .images img{
        height: 200px;
        padding-left: 150px;
    }
    .images h5{
        padding-left: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .images img{
        height: 250px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .banner img{
        height: 250px;
        width: 250px;
    }
    .images img{
        height: 270px;
        padding-left: 150px;
    }
    .images h5{
        padding-left: 150px;
    }
}
